html
{
	height: 100%;
	font-size: 100%;
}
/*стили главного фона*/
.wrapper
{
	background: url(../element/chief_background.jpg);
	background-size: cover;
	max-width: 1500px;
	width: 100%;
	height: 100%;
	min-height: 1000px;
	position: relative;
	font-family: Verdana;
	color: #c7c7c7;
	font-size: 12px;
}
/*верхняя часть*/
#logo_1{
	position: absolute;
	float: left;
	width: 13.3%;
	height: 4%;
	top: 3.8%;
	left: 15%;
	margin-right: 166px; 
}
#header_li,
#touch_meny{
	position: absolute;
	top: 52px;
	right: 11%;
}
#header_li li{
	list-style-position: inside;
	display: inline-block;
}
.menu,
#touch_meny
{
	color: #c7c7c7;
	margin: 0 20px;
}
.menu:hover,
#touch_meny:hover
{
	border: 1px solid #1e1e1e;
	padding: 13px 16px;
	margin: -15px 3px 0 3px;
	border-radius: 30px;
	background: #0f8bbe;
	background: -moz-linear-gradient(top, #0f8bbe 0%, #0ea1de 50%, #0ea5e3 51%, #0eb7fe 100%);
	background: -webkit-linear-gradient(top, #0f8bbe 0%, #0ea1de 50%, #0ea5e3 51%, #0eb7fe 100%);
    background: -o-linear-gradient(top, #0f8bbe 0%, #0ea1de 50%, #0ea5e3 51%, #0eb7fe 100%);
    background: -ms-linear-gradient(top, #0f8bbe 0%, #0ea1de 50%, #0ea5e3 51%, #0eb7fe 100%);
    background: linear-gradient(top, #0f8bbe 0%, #0ea1de 50%, #0ea5e3 51%, #0eb7fe 100%);
	text-decoration: none;
	color: #fefefe;
}

#touch_menu
{
	display: none;
}
/*начало середина макета, то что в белом фоне*/
.box_top
{
	margin: 2.5% 0 0 2.2%;
	width: 95.4%;
}

/*высота карусели*/
.carousel-inner
{
	height: 178px;
}
#box_center
{
	background: url(../element/box_center.jpg);
	background-size: cover;
	width: 68.1%;
	height: 605px;
	margin: 10.5% 0 0 16.4%;
	position: absolute;
	border: 17px solid rgba(51, 51, 51, 0.4);
}
/*карусель*/
.carousel-control
{
	width: 0px!important;
	opacity: 1!important;
	
	top:38%!important;
}
.carousel-inner > .item > img{
	height: 170px!important;
	width: 100%;
}
/*кнопка каручели*/
.circle-left
{
	background: url(../element/circle.png) no-repeat;
	background-size: cover;
	width: 33px;
	height: 33px;
	left: -16px;

}
/*кнопка каручели*/
.circle-right
{
	background: url(../element/circle_right.png) no-repeat;
	background-size: cover;
	width: 35px;
	height: 35px;
	left: -17px;
}

/*Стили основного текста*/
.content
{
	color: #858585;
	top:50px;
}
.col-xs-4>h3+p
{
	font-family: Verdana sans-serif;
}

.col-xs-4>h3
{
	color: #0b81be;
}
.product
{
	display: block;
	border-bottom: 1px solid #e4e4e4;
}
/*низ центральной части (часы кофе)*/
#box_footer
{
	background: url(../element/box_footer.jpg);
	background-size: cover;
	max-width: 830px;
	width: 97%;
	max-height: 112px;
	height: 90%;
	margin: 245px 0 0 1.5%;
	position: absolute;
}
.col-xs-6
{
	border: 1px solid #ececec; 
	height: 100%;
	padding-right: 40px;
}
/*иконки*/
i[class*="ic-"]
{
	display: inline-block;
	vertical-align: middle;
	background: url(../element/picture.png) no-repeat;
}
.ic-time
{
	background-position: -42px 0px!important;
	width: 48px;
	height: 50px;
	position: absolute;
	top: 34px;
	left: -3px;
}
.ic-coffee
{
	background-position: -0px -0px!important;
	width: 45px;
	height: 45px;
	position: absolute;
	top: 37px;
	left: 0px;
}

.text
{
	margin: 9% 17px 20px 40px;
}
/*осуда и до конца стили футера*/
#fon_footer{
	position: absolute;
	bottom: 0;
	background: url(../element/footer.jpg) no-repeat;
	background-size: cover;
	max-width: 1500px;
	width: 100%;
	height: 207px;
	opacity: 0.4;
}

.twitter
{
	background: url(../element/twitter_icon.png) no-repeat;
	position: absolute;
	top: 82%;
	left: 15%;
	width: 150px;
	height: 50px;
	z-index: 3;
}
.nav_footer
{
	position: absolute;
	top: 83.3%;
	right: 11%;
	z-index: 3;
}

.nav_footer>li
{
	display: inline-block;
}
.footer_meny
{
	text-decoration: none!important;
	color: #c7c7c7;
	margin-right: 35px;
	font-size: 11px;
}
.footer_meny:hover
{
	color: #ffffff;
}
.text_footer
{
	position: absolute;
	z-index: 3;
	top: 90%;
	right: 14.5%;
	font-size: 11px;
}
.logo_footer
{
	background: url(../element/logo_1.png) no-repeat;
	position: absolute;
	width: 200px;
	height: 70px;
	top: 93%;
	right: 11%;
	z-index: 3;
}
@media screen and (max-width: 970px) and (min-width: 791px){
	.wrapper
	{
		min-height: 950px;
	}
	#logo_1
	{
		width: 15.5%;
	}
	.menu:hover
	{
		padding: 12px 14px;
		margin: -15px 0px 0 0px;
	}
	#box_center
	{
		width: 84%;
		height: 605px;
		margin: 10.5% 0 0 8%;
	}
	#logo_1
	{
		top: 3%;
		left: 7%;
	}
	#header_li
	{
		top: 40px;
		right: 6%;
	}
	.menu
	{
		margin: 0 15px;
	}
	.twitter
	{
		top: 83%;
		left: 7%;
	}
	.nav_footer
	{
		top: 84.5%;
		right: 5%;
	}
	.footer_meny
	{
		margin-right: 25px;
	}
	.text_footer
	{
		top: 90%;
		right: 8%;
	}
	.logo_footer
	{
		top: 93%;
		right: 3.4%;
	}
}
@media screen and (max-width: 790px) and (min-width: 681px){
	.wrapper
	{
		min-height: 840px;
	}
	
	.menu:hover
	{
		padding: 5px 7px;
		border-radius: 20px;
	}
	#box_center
	{
		width: 84%;
		height: 605px;
		margin: 8% 0 0 8%;
	}
	#logo_1
	{
		top: 2%;
		left: 7%;
		height: 3.5%;
		width: 16.5%
	}
	#header_li
	{
		top: 20px;
		right: 6%;
	}
	.menu
	{
		margin: 0 8px;
	}
	.twitter
	{
		top: 91%;
		left: 7%;
	}
	.nav_footer
	{
		top: 93%;
		right: 5%;
	}
	.footer_meny
	{
		margin-right: 18px;
	}
	.text_footer
	{
		display: none;
	}
	.logo_footer
	{
		display: none;
	}
	#fon_footer
	{
		height: 100px;
		opacity: 0.4;
	}
}
@media screen and (max-width: 680px){
	.wrapper
	{
		min-width: 320px;
		min-height: 770px;
		background: none;
	}
	#box_center
	{
		width: 100%;
		height: 605px;
		margin: 40px 0 0 0%;
		border: none;
	}
/*пытался сделать выпадающее меню, но оно не выпадает*/
	#logo_1
	{
		display: none;
	}
	#header_li
	{
		display: none;
	}
	#header_li li
	{
		float: none;
	}
	#header_li li a
	{
		color: #FFFFFF;
		border-top: 1px solid #eee;
		border-left: 3px solid transparent;
		background: #44A3C1;
	}
	#header_li li:first-child a
	{
		border-top: none;
	}
	#header_li li:hover
	{
	}
	#header_li li:hover
	{	
		display: block;
		color: #333;
		border-left: 3px solid #515572;
		background: #f0f0f0;
		top: 400px; 
	}
	
	#touch_menu
	{
		display: block;
		position: absolute;
		padding: 10px 0 0 20px;
		background: #D1F0D6;
		width: 100%;
		height: 40px;
	}
	/*сдесь конец выпадающего меню*/
	#box_footer
	{
		max-width: 830px;
		width: 97%;
		max-height: 112px;
		height: 90%;
		margin: 245px 0 0 1.5%;
		padding: 0!important;
		position: absolute;
	}
	.text
	{	
		padding: 0 15px 0 0!important;
		height: 80%;
		width: 110%!important;
		margin: 4% 0 1% 0px;
		overflow: auto;
	}
	i[class*="ic-"]
	{
		background: inherit;
	}
	.twitter
	{
		top: 88%;
		left: 9%;
	}
	.nav_footer
	{
		display: none;
	}
	.logo_footer
	{
		display: none;
	}
	.text_footer
	{
		display: none;
	}
	#fon_footer{
		background-color: #6C646D;
		height: 140px;
		opacity: 1;
		z-index: -1;
	}
}